
<p id="notice"><%= notice %></p>


<div class="outer">
<h1>Users</h1>
<%= button_to "My Page", current_user, :class => "btn btn-primary", :method => :get, form: {style: 'display:inline-block;'} %>
<%= button_to "Your Feed", "users/#{current_user.id}/followship_feed", :class => "btn btn-secondary", :method => :get, form: {style: 'display:inline-block;'} %>

<br>
<h2>Mods</h2>
<div class="card-columns" style="text-align: center;">
  <% @users.each do |user| %>
    <% next unless user.is_mod %>
    <div class="card" style="width: 312px;">
      <img class="card-img-top userImage" src="<%= url_for(user.avatar_img) %>" alt="Avatar">
      
      <div class="card-body">
        <h5 class="card-title"><%= "#{user.first_name.capitalize} #{user.last_name.capitalize}" %></h5>
        <p class="card-text"><%= "#{user.username}" %></p>
        <p class="card-text">
          <div style="inline" id="buttonHolder">
            <%= button_to "Show", user, :class => "btn btn-outline-info button", :method => :get, form: {class: "button" } %>
            <% if user == current_user %>
              <%= button_to "Edit", edit_user_path(user), :class => "btn btn-outline-info button", :method => :get, form: {class: "button" } %>
              <%= button_to "Destroy", user, :class => "btn btn-outline-danger button", :method => :delete, form: {class: "button" } , data: { confirm: 'Are you sure?'}%>
            <% else %>
              <% if user.followers.include? current_user %>
                <%= button_to "Unfollow", "/delete_follow/#{user.id}/#{current_user.id}", :class => "btn btn-outline-warning button", :method => :delete, form: {class: "button" } %>
              <% else %>
                <%= button_to "Follow", "/add_follow/#{user.id}/#{current_user.id}", :class => "btn btn-outline-warning button", :method => :post, form: {class: "button" } %>
              <% end %>
            <% end %>
          </div>
        </p>
        <p class="card-text"><small class="text-muted"><%= user.is_mod ? "MOD" : "USER" %></small></p>
      </div>
    </div>
  <% end %>
</div>

<h2>Users</h2>
<div class="card-columns" style="text-align: center;">
  <% @users.each do |user| %>
    <% next unless !user.is_mod %>
    <div class="card" style="width: 312px;">
      <img class="card-img-top userImage" src="<%= url_for(user.avatar_img) %>" alt="Avatar">
      
      <div class="card-body">
        <h5 class="card-title"><%= "#{user.first_name.capitalize} #{user.last_name.capitalize}" %></h5>
        <p class="card-text"><%= "#{user.username}" %></p>
        <p class="card-text">
          <div style="inline" id="buttonHolder">
            <%= button_to "Show", user, :class => "btn btn-outline-info button", :method => :get, form: {class: "button" } %>
            <% if user == current_user %>
              <%= button_to "Edit", edit_user_path(user), :class => "btn btn-outline-info button", :method => :get, form: {class: "button" } %>
              <%= button_to "Destroy", user, :class => "btn btn-outline-danger button", :method => :delete, form: {class: "button" } , data: { confirm: 'Are you sure?'}%>
            <% else %>
              <% if user.followers.include? current_user %>
                <%= button_to "Unfollow", "/delete_follow/#{user.id}/#{current_user.id}", :class => "btn btn-outline-warning button", :method => :delete, form: {class: "button" } %>
              <% else %>
                <%= button_to "Follow", "/add_follow/#{user.id}/#{current_user.id}", :class => "btn btn-outline-warning button", :method => :post, form: {class: "button" } %>
              <% end %>
            <% end %>
          </div>
        </p>
        <p class="card-text"><small class="text-muted"><%= user.is_mod ? "MOD" : "USER" %></small></p>
      </div>
    </div>
  <% end %>
</div>
</div>




